{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sentiment Analysis App - Our Team</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/team.css" %}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Sentiment Analysis App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "index" %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "team" %}">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "htw" %}">How It Works</a>
                </li>
            </ul>
        </div>
    </nav>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<img src="{% static "img/img.png" %}" class="card-img-top" alt="Prof. Akeredolu-Ale Bolanle Idowu">
					<div class="card-body">
						<h4 class="card-title">Prof. Akeredolu-Ale Bolanle Idowu</h4>
						<p class="card-text">
							<strong>Role:</strong> Principal Investigator<br>
							<strong>Email:</strong> bolanlekassal@gmail.com<br>
							<strong>Qualification:</strong> PhD.<br>
							<strong>Institution:</strong> Federal University of Agriculture, Abeokuta
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img src="{% static "img/img_1.png" %}" class="card-img-top" alt="Prof. Akeredolu-Ale Bolanle Idowu">
					<div class="card-body">
						<h4 class="card-title">Dr. Ayo Osisanwo </h4>
						<p class="card-text">
							<strong>Role:</strong> Co-Researcher<br>
							<strong>Email:</strong> ayosisdelexus@yahoo.com <br>
							<strong>Qualification:</strong> PhD.<br>
							<strong>Institution:</strong> University of Ibadan, Ibadan
						</p>
					</div>
				</div>
			</div>
            <div class="col-md-4">
				<div class="card">
					<img src="{% static "img/img_2.png" %}" class="card-img-top" alt="Prof. Akeredolu-Ale Bolanle Idowu">
					<div class="card-body">
						<h4 class="card-title">Dr. Emmanuel Chinaguh </h4>
						<p class="card-text">
							<strong>Role:</strong> Co-Researcher<br>
							<strong>Email:</strong> chinaguhec@funaab.edu.ng  <br>
							<strong>Qualification:</strong> PhD.<br>
							<strong>Institution:</strong> Federal University of Agriculture, Abeokuta
						</p>
					</div>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-md-4">
				<div class="card">
					<img src="{% static "img/img_3.png" %}" class="card-img-top" alt="Prof. Akeredolu-Ale Bolanle Idowu">
					<div class="card-body">
						<h4 class="card-title">Dr. Sunday Amosu</h4>
						<p class="card-text">
							<strong>Role:</strong> Co-Researcher<br>
							<strong>Email:</strong> amosusunday@yahoo.com<br>
							<strong>Qualification:</strong> BSc. <br>
							<strong>Institution:</strong> Others
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img src="{% static "img/img_4.png" %}" class="card-img-top" alt="Prof. Akeredolu-Ale Bolanle Idowu">
					<div class="card-body">
						<h4 class="card-title">Dr. Olanrewaju Sodehinde </h4>
						<p class="card-text">
							<strong>Role:</strong> Co-Researcher<br>
							<strong>Email:</strong> lanresodeinde@yahoo.com<br>
							<strong>Qualification:</strong> PhD.<br>
							<strong>Institution:</strong> Others
						</p>
					</div>
				</div>
			</div>
            <div class="col-md-4">
				<div class="card">
					<img src="{% static "img/img_5.png" %}" class="card-img-top" alt="Prof. Akeredolu-Ale Bolanle Idowu">
					<div class="card-body">
						<h4 class="card-title">Dr. Adegboyega Ogunwale </h4>
						<p class="card-text">
							<strong>Role:</strong> Co-Researcher<br>
							<strong>Email:</strong> monaolapo@yahoo.co.uk<br>
							<strong>Qualification:</strong> MSc.<br>
							<strong>Institution:</strong> Others
						</p>
					</div>
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-md-4">
				<div class="card">
					<img src="{% static "img/img_6.png" %}" class="card-img-top" alt="Prof. Akeredolu-Ale Bolanle Idowu">
					<div class="card-body">
						<h4 class="card-title">Mr. Yusuf Adeyemi</h4>
						<p class="card-text">
							<strong>Role:</strong> Co-Researcher<br>
							<strong>Email:</strong> adeyemiya@funaab.edu.ng<br>
							<strong>Qualification:</strong> MSc. <br>
							<strong>Institution:</strong> Federal University of Agriculture, Abeokuta
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img src="{% static "img/img_7.png" %}" class="card-img-top" alt="Prof. Akeredolu-Ale Bolanle Idowu">
					<div class="card-body">
						<h4 class="card-title">Mr. Bosun Agosu</h4>
						<p class="card-text">
							<strong>Role:</strong> Co-Researcher<br>
							<strong>Email:</strong> agosuoss@funaab.edu.ng<br>
							<strong>Qualification:</strong> MSc.<br>
							<strong>Institution:</strong> Federal University of Agriculture, Abeokuta
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>